<link rel="import"
      href="../../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../elements/data-managers/main-dm/main-dm.html">
<link rel="import" href="../../../elements/data-managers/secondary-dm/secondary-dm.html">
<dom-module id="avatar-page">
  <template>
    <style></style>
    <cells-template-paper-drawer-panel>
      <div slot="app__main">
        <main-dm id="mainDM"></main-dm>
        <secondary-dm id="secondaryDM"></secondary-dm>
      </div>
      <div slot="app__main">
        <p>{{name}}</p>
        <p>Número de página [[pageNumber]]</p>
        <button on-click="goToMain">Go to Main</button>
      </div>
      <div slot="app__main">
        <div hidden$="[[!results.length]]">
          HOLA
        </div>
        <template is="dom-if" if="[[results.length]]">
          <h1>Hay datos :D</h1>
          <button hidden$="[[loading]]" on-click="getMorePlanets">Más planetas</button>
        </template>
        <template is="dom-if" if="[[!results.length]]">
          <h1>No hay datos D:</h1>
        </template>
        <template is="dom-repeat" items="[[results]]" as="planet">
          <p>[[planet.name]]</p>
        </template>
      </div>
    </cells-template-paper-drawer-panel>
  </template>
  <script src="./avatar-page.js"></script>
</dom-module>
