#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
}

html {
  --cells-template-animation-scroller-container-bgc : #f0f0f0;
  --cells-template-paper-drawer-panel-section-bg: #000;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #f0f0f0;
  overflow: hidden;
  background-color: #f0f0f0;
}
