<dom-module id="secondary-dm">
  <template>
    <cells-ajax
      id="httpService"
      native
      method="get"
      handle-as="json"
      debounce-duration="300"
    ></cells-ajax>
  </template>
  <script src="./secondary-dm.js"></script>
</dom-module>
