<link rel="import" href="main-page-styles.html">
<link rel="import" href="../../../../components/cells-molecule-input/cells-molecule-input.html">
<dom-module id="main-page">
  <template>
    <style include="main-page-styles"></style>
    <h1>Hola mundo!</h1>
    <button on-click="goToAvatar">Go to Avatar</button>
    <cells-molecule-input type="text" value="{{name}}"></cells-molecule-input>
    <button on-click="saveName">Save name</button>
    <template is="dom-repeat" items="[[results]]" as="specie">
      <p>[[specie.name]]</p>
    </template>
  </template>
  <script src="./main-page.js"></script>
</dom-module>
